# =========================
# Build results
# =========================
bin/
obj/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Debug / Release
# =========================
Debug/
Release/
x64/
x86/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# NuGet
# =========================
*.nupkg
packages/
!packages/build/
!packages/repositories.config

# =========================
# Publish output
# =========================
publish/

# =========================
# Others
# =========================
*.cache
*.tmp
*.pdb
*.exe